.wrapper {
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

.logo {
	background-image: url('../img/yo-llama.png');
	background-repeat: no-repeat;
	width: 260px;
	height: 200px;
}

label, input {
	display: block;
}

input {
	margin-bottom: 20px;
}

section {
	display: flex;
}